body {
  margin: 0;
  padding: 0;
  color: black;
}
#app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  /*z-index: 9999;*/
  width: 300px;
  height: 100vh;
  background: white;
  overflow-y: auto;
}
#side-menu .settings-container a:hover {
  cursor: pointer;
}
#side-menu .settings-container .pokemons {
  margin: auto;
}
#side-menu .settings-container .pokemons .pokemon {
  width: 92px;
  display: inline-block;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}
#side-menu .settings-container .pokemons .pokemon.selected {
  opacity: 1;
}
#side-menu .settings-container .pokemons img {
  width: 80px;
  display: block;
  margin: auto;
}
#side-menu .located-pokemons .pokemon {
  border-bottom: 1px solid black;
  height: 50px;
}
#side-menu .located-pokemons .pokemon img {
  float: left;
  width: 50px;
  height: 50px;
  border-right: 1px solid black;
}
#side-menu .located-pokemons .pokemon h3 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
#side-menu .container {
  padding: 10px;
  margin: 0;
  width: 100%;
}
#side-menu .close-side-menu {
  float: right;
  color: black;
}

.fixed-action-btn {
  width: 55px;
  position: fixed;
  bottom: 35px;
  left: 15px;
}
.fixed-action-btn ul li {
  margin: 5px auto 5px auto;
}
.fixed-action-btn ul {
  bottom: 55px;
  width: 100%;
}
.fixed-action-btn ul li a i{
  color: black;
  font-size: 18px;
}
.btn-floating#locateMe {
  position: fixed;
  right: 10px;
  top: 10px;
}

/* MAP */
#map {
  width: 100%;
  height: 100%;
}
.pokemonLabel:before {
  display: none;
}
.leaflet-popup-content .fa-thumbs-down {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
.leaflet-popup-content .fa-thumbs-up {
  float: right;
  font-size: 20px;
  margin: 10px 10px 0 0;
}
.leaflet-control.btn-floating:after {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.zoomInControl:after {
  font-family:FontAwesome;
  content:'\f067';
  color: black;
  font-size: 16px;
}
.zoomOutControl:after {
  font-family:FontAwesome;
  content:'\f068';
  color: black;
  font-size: 16px;
}
.locateControl:after {
  font-family:FontAwesome;
  content:'\f21d';
  color: black;
  font-size: 16px;
}
.locateControl.disabled:after {
  opacity: 0.4;
}
.locateControl.loading:after {
  left: 0;
  left: 11px;
  content: '\f1ce';
  -webkit-animation:spin 4s linear infinite;
     -moz-animation:spin 4s linear infinite;
          animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.locateControl.enabled:after {
  color: #00688B;
}
